article{
    margin: 0 auto;
    max-width: 450px;
    padding-bottom: 30px;
    font-family:sans-serif;
}

section{
    text-align: center;
}

div{
    margin-top: 30px;
}

h1{
    font-size: 2em;
    margin: 0;
}

input{
    width: 100px;
    background-color: rgb(85, 85, 85);
    color: white;
    border-radius: 20px;
    border: 0px;
    padding: 5px;
    font: 1em sans-serif;
    cursor: pointer;
}

input:hover{
    background-color:rgb(46, 46, 46);
}