body{
    font-family: serif;
}

table{
    border-collapse: collapse;
    width: 800px;
}

table td, table th{
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
}

table caption{
    caption-side: bottom;
    text-align: left;
    font-size: 14px;
    font-style: italic;
    margin: 5px 0;
}

tfoot td, table th{
    background-color: #ddd;
}

tfoot td{
    font-style: italic;
}

.responsive-table{
    max-width: 100%;
    overflow-x: auto;
}