*{
    margin: 0;
    padding: 0;
}

.filho1,.filho2,.filho3{
    width: 300px;
    height: 300px;
    margin: 10px;
}

.filho1{
    background-color: blue;
    position: relative;
    /*Alinha div ao centro, gambiarra*/
   /*top:50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;*/
}

.filho2{
    background-color: blueviolet;
}

.filho3{
    background-color: chartreuse;
    position: relative;
}

ul{
    height: 100px;
    overflow-y:auto ;
}

ul li.sticky{
    position: sticky;
    background-color: coral;
    top: 0;
}