.intro-content{
    position: relative;
    /*top: -8rem;*/
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

.top3-content{
    display: flex;
    /*flex-flow: column wrap;*/
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 64rem;
    text-align: center;
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading{
    margin-bottom: 1rem;
    min-height: 100vh;
}

.grid-description{
    padding-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style:italic;
    top: -4rem;
    left: -2rem;
    transition: rotate(5deg);
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform:translate(-3%,3%) scale(1.2) rotate(5deg);
}

.responsive-table{
   overflow-y: hidden;
    overflow-x: auto;
}

.pricing-content{
    display: flex;
    /*flex-flow: column wrap;*/
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    max-width: 64rem;
    text-align: center;
}

table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table{
    width: 100%;
    min-width: 360px;
    border-collapse: collapse;
}

table td, table th, table tfoot td{
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border:0.1rem solid var(--light-gray-color);
}

tfoot td, table th{
    background-color: var(--light-gray-color);
}

.contact-img img{
    max-width: 80rem;
    height: auto;
}

.form-grid {
    border: none;
    display: grid;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-secondary);
    margin: 0 auto;
}

.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-grid label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea{
    border: none;
    background-color: var(--white-color);
    outline: none;
    font-size: 1.5rem;
    width: 35rem;
    border-radius: 0.67rem;
}

.form-group input{
    height: 3.5rem;
}

.form-group textarea{
    height: 10rem;
}

.form-group input:focus , .form.group textarea:focus{
    box-shadow:0px 0px 10px 2px var(--secondary-color) ;
}

.form-group button{
    border: 0.25rem solid var(--white-color);
    height: 4rem;
    width: 16rem;
    background: none;
    color: var(--white-color);
    cursor:pointer;
    transition: all 300ms ease-in-out;
    font-size: 1.5rem;
    left: 1rem;
    margin-bottom: 2.5rem;
    margin-left: 100px;
}

.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
    border: 0.5rem solid var(--primary-color);
}

.form-group::placeholder{
    color:var(--light-gray-color);
}

footer{
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.text-footer{
   margin-bottom:0;
   font-size: 1.5rem;
   padding: 0.5rem;
}

.close-menu{
    display: none;
}

@media (max-width:800px) {
    .intro-content, .grid{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}

@media (max-width:750px){
    .menu{
        bottom:0;
        flex-direction: column;
        text-align: center;
        display: none;
    }

    .menu-content,.menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    .close-menu{
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
    }

    .menu-spacing{
        display: none;
    }

    .close-menu-label::after{
        content:  '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 4rem;
        line-height: 4rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: 'X';
    }
}

@media (max-width:400px){

     .intro-content{
        gap: 0;
    }

    .intro-content h2, .pricing-content h2,.grid-one-content h2,.form-grid .full-width{
        line-height: 1;
        font-size: 200%;
    }

    .intro-content, .grid{
        margin: 0 0;
    }

    .grid-one-content h3::before{
        padding: 0 2rem;
    }

    .form-grid{
        min-width: 100%;
    }

    .grid-one-content img{
        width: 100%;
        height: 100%;
    }

    .form-group input, .form-group textarea{
        width: 100%;
    }
}

@media (max-width:265px){
    .intro-content h2, .pricing-content h2,.grid-one-content h2, .top3-content h2,.grid-one-content h3::before,.grid article h3{
        line-height: 1;
        font-size: 100%;
    }

    .form-group input, .form-group textarea{
        width: 90%;
        margin-left: 5%;
    }

    .form-group button{
        margin-left: 5%;
        font-size: 90%;
        height: 90%;
        width: 90%;
    }

    p{
        font-size: 1rem;
    }

    .grid article h3{
        padding-left: 0;
        display: flex;
    }
}